@CHARSET "UTF-8";

.AdaptiveSearchTimeline-separationModule {
	margin-bottom: 15px;
}

li {
	text-align: inherit;
}

.ProfileCard {
	background-color: #fff;
	border: 1px solid #e6ecf0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
}

.Grid-cell {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	font-size: 14px;
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align: top;
	width: 100%;
}

.Grid {
	display: block;
	font-size: 0;
	margin: 0;
	padding: 0;
	text-align: left;
}

.ProfileCard--wide .ProfileCard-bg {
	height: 160px;
}

.ProfileCard a, .ProfileCard a:hover, .ProfileCard a:focus, .ProfileCard a:active,
	.ProfileCard .pretty-link, .ProfileCard .pretty-link:hover,
	.ProfileCard .pretty-link:focus, .ProfileCard .pretty-link:active {
	color: #1c94e0;
}

.ProfileCard-bg {
	background-position: 0 10%;
	display: block;
	height: 90px;
}

img {
	border: 0;
}

.ProfileCard-avatarImage {
	border-radius: 50%;
	display: block;
	height: 200px;
	width: 200px;
	float: left;
	position: relative;
	top: -70px;
}
.ProfileCard-avatarImage_2 {
	border-radius: 50%;
	display: block;
	height: 120px;
	width: 120px;
	float: left;
}

.ProfileCardStats-statLabel {
	color: #657786;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: .02em;
	overflow: hidden;
	transition: color .15s ease-in-out;
	float: left;
	margin-left: 10px;
}

.ProfileCardStats-statValue {
	display: block;
	font-size: 18px;
	font-weight: bold;
	padding-top: 3px;
	transition: color .15s ease-in-out;
	margin-left: 20px;
}

.ProfileCard--wide .ProfileNameTruncated-link {
	font-size: 21px;
	line-height: 28px;
	font-weight: bold;
}

a:hover, a:focus, a:active {
	text-decoration: underline;
}

a:active, a:hover {
	outline: 0;
}

.ProfileNameTruncated-link {
	color: #14171a;
	font-size: 18px;
	font-weight: bold;
	padding-right: 2px;
}

.u-textInheritColor {
	color: inherit !important;
}

a {
	background: transparent;
}

.u-textTruncate {
	max-width: 100%;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	word-wrap: normal !important;
}

.ProfileNameTruncated {
	height: 22px;
	line-height: 1.3;
	margin-top: -2px;
}

.ProfileCard-userFields {
	color: #14171a;
	margin-top: 8px;
	width: 100%;
}

.ProfileCard {
	background-color: #fff;
	border: 1px solid gray;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
}

div {
	display: block;
}

.ProfileCard-content {
	margin: 13px 15px;
	position: relative;
}


.select_department{

	height: 50px;
	line-height:50px;
	width: 25%;
	text-align:center;
	background-color:#BDBDBD;
	border: 1px solid gray; 
	color: white;
	font-weight: 900;
	float: left;
}