<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="AdminMapper"> 

 	<select id="admin_login" parameterType="com.choa.admin.AdminDTO" resultType="com.choa.admin.AdminDTO"> 
 		select M.*,A.DEPARTMENT,A.POSITION,A.PHONE,A.EMAIL,A.PICTURE from admin A,MEMBER M where M.ID=A.ID and M.ID=#{id} and M.PW=#{pw}
 	</select>
 	<select id="admin_selectList" resultType="com.choa.admin.AdminDTO">
 		select M.*,A.DEPARTMENT,A.POSITION,A.PHONE,A.EMAIL,A.PICTURE from admin A,MEMBER M where M.ID=A.ID
 	</select>
 	<select id="admin_selectOne" parameterType="com.choa.admin.AdminDTO" resultType="com.choa.admin.AdminDTO">
 		select M.*,A.DEPARTMENT,A.POSITION,A.PHONE,A.EMAIL,A.PICTURE from admin A,MEMBER M where M.ID=A.ID and M.ID=#{ID}
 	</select>  
</mapper> 