<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="CampaignMapper">
	<select id="campaignList" resultType="com.choa.campaign.CampaignDTO" parameterType="com.choa.util.ListInfo">
		select * from 
		(select rownum r, c.* from 
		(select * from campaign order by campaign_num asc) c) 
		where r between #{startRow} and #{lastRow}
	</select>
	<select id="campaignCount" resultType="java.lang.Integer">
		select nvl(count(campaign_num), 0) from campaign
	</select>
	<insert id="campaignWrite">
		insert into campaign(campaign_num) values(campaign_seq.nextval)
	</insert>
	<select id="numSelect" resultType="java.lang.Integer">
		select last_number from user_sequences where sequence_name=upper('campaign_seq')
	</select>
	<update id="campaignComplete" parameterType="com.choa.campaign.CampaignDTO">
		update campaign set id=#{id}, campaign_title=#{campaign_title}, goal_price=#{goal_price}, period=#{period}, campaign_end=#{campaign_end}, campaign_img=#{campaign_img}, simple_story=#{simple_story}, story=#{story}, main_video=#{main_video}, option_msg=#{option_msg}, bank=#{bank}, bank_account=#{bank_account}, register_name=#{register_name}, register_phone=#{register_phone}, register_email=#{register_email}, permission='unapproved', campaign_start=sysdate, thumbs_up=0, support_price=0, support_hit=0 where campaign_num=#{campaign_num}
	</update>
	<select id="campaignNew" resultType="com.choa.campaign.CampaignDTO">
		select * from 
		(select rownum r, c.* from 
		(select * from campaign where permission='approved' order by campaign_start desc) c) 
		where r between 1 and 3
	</select>
	<select id="campaignBest" resultType="com.choa.campaign.CampaignDTO">
		select * from 
		(select rownum r, c.* from
		(select * from campaign where permission='approved' order by thumbs_up desc) c) 
		where r between 1 and 4
	</select>
	<select id="campaignBest2" resultType="com.choa.campaign.CampaignDTO">
		select * from 
		(select rownum r, c.* from
		(select * from campaign where permission='approved' order by thumbs_up desc) c) 
		where r between 5 and 8
	</select>
	<select id="campaignBest3" resultType="com.choa.campaign.CampaignDTO">
		select * from 
		(select rownum r, c.* from
		(select * from campaign where permission='approved' order by thumbs_up desc) c) 
		where r between 9 and 12
	</select>
</mapper>