<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
  
  <mapper namespace="CinemaMapper">
  
  	<select id="myTicket" resultType="java.lang.String" parameterType="java.lang.String">
  		select * from customer where id=#{id}
  	</select>
  	
  	<select id="listAll" resultType="com.choa.movie.MovieDTO">
  		select * from movie
  	</select>
  
  	<select id="count" resultType="java.lang.Integer" parameterType="com.choa.util.ListInfo" >
  		select nvl(count(movie_num), 0) from movie
  	</select>
  	
  	<select id="countMy" resultType="java.lang.Integer" parameterType="java.util.Map" >
  		select nvl(count(movie_num), 0) from movie where movie_num like
  		<foreach collection="ticketar" item="ticket" separator="or movie_num like">
			#{ticket}
		</foreach>
  	</select>
  	
  	<select id="countHot" resultType="java.lang.Integer" parameterType="java.util.Map" >
  		select nvl(count(movie_num), 0) from movie where genre like
  		<foreach collection="genre" item="type" separator="or genre like">
    	  #{type}
     	</foreach>
  	</select>
  
  	<select id="myList" parameterType="java.util.Map" resultType="com.choa.movie.MovieDTO">
  		select * from 
		(select rownum r, m.* from 
		(select * from movie where movie_num like 
		<foreach collection="ticketar" item="ticket" separator="or movie_num like">
			#{ticket}
		</foreach>
		 order by movie_num asc) m) 
		where r between #{listInfo.startRow} and #{listInfo.lastRow}
  	</select>
	
	<select id="myCount" parameterType="java.lang.String" resultType="java.lang.String">
		select ticket from customer where id=#{id}
	</select>
	
	<select id="schedule" resultType="com.choa.movie.MovieDTO">
		select * from movie where release_date > SYSDATE
	</select>
	
	<select id="hotList" parameterType="java.util.Map" resultType="com.choa.movie.MovieDTO">
      select * from 
      (select rownum r, m.* from 
      (select * from movie where genre like 
      <foreach collection="genre" item="type" index="index" separator="or genre like">
    	  #{type}
      </foreach>
      order by movie_num asc) m) 
      where r between #{listInfo.startRow} and #{listInfo.lastRow}
   </select>

	
  </mapper>