<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="CustomerMapper"> 
 <resultMap type="com.choa.customer.CustomerDTO" id="CustomerDTO"></resultMap>
 
 	<insert id="join" statementType="CALLABLE" parameterType="java.util.Map" >
 	{ call member_join(#{customerDTO.id, mode=IN},#{customerDTO.pw, mode=IN},#{customerDTO.phone,mode=IN},#{customerDTO.email,mode=IN},#{customerDTO.address,mode=IN},#{customerDTO.sung,mode=IN},#{customerDTO.job,mode=IN},#{customerDTO.name,mode=IN},#{customerDTO.age,mode=IN},#{customerDTO.birth,mode=IN},#{customerDTO.grade,mode=IN},#{customerDTO.taste,mode=IN},#{result, mode=OUT, javaType=int, jdbcType=INTEGER}) }
 	</insert>
 	
 	<select id="login" statementType="CALLABLE" parameterType="java.util.Map"> 
 	{ call customer_login(#{customerDTO.id, mode=IN},#{customerDTO.pw, mode=IN},#{customer, mode=OUT, jdbcType=CURSOR, javaType=java.sql.ResultSet, resultMap=CustomerDTO}) }
 	</select>
 	
 	
 	<delete id="delete" statementType="CALLABLE" parameterType="java.util.Map">
 	{ call member_delete(#{customerDTO.id, mode=IN},#{customerDTO.pw,mode=IN},#{result, mode=OUT, javaType=int, jdbcType=INTEGER}) }
 	</delete>
 	
 	<update id="update" statementType="CALLABLE" parameterType="java.util.Map">
 	{ call member_update(#{dto.id, mode=IN},#{dto.pw, mode=IN},#{dto.name, mode=IN},#{dto.phone, mode=IN},#{dto.email, mode=IN},#{dto.address, mode=IN},#{dto.job, mode=IN},#{dto.taste, mode=IN},#{result, mode=OUT, javaType=int, jdbcType=INTEGER}) }
 	</update>
 	
 	<select id="idCheck" statementType="CALLABLE" parameterType="java.util.Map">
 	{ call id_check(#{customerDTO.id, mode=IN},#{check, mode=OUT, jdbcType=CURSOR, javaType=java.sql.ResultSet, resultMap=CustomerDTO}) }
 	</select>
 	
 	
 	
 	
 </mapper> 