<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="PaymentMovieMapper"> 
	<insert id="insert" statementType="CALLABLE" parameterType="java.util.Map">
 		{ call payMovie_insert(#{dto.id, mode=IN}, #{dto.money, mode=IN}, #{dto.type, mode=IN}, #{dto.movie_num, mode=IN}, #{dto.card_num, mode=IN}, #{result, mode=OUT, javaType=int, jdbcType=INTEGER})  }
 	</insert>
 	<update id="refund" parameterType="com.choa.payment.PaymentDTO">
  			update payment set refund=1 where num=#{num}
  		</update>
  		<update id="refund_set" parameterType="com.choa.payment.PaymentDTO">
  			update payment set refund=2 where num=#{num}
  		</update>
  		<select id="count" resultType="java.lang.Integer">
  			select nvl(count(num_p), 0) from payment_movie
  		</select>
  		
  		<select id="paymentList" resultType="com.choa.payment.movie.PaymentMovieDTO" parameterType="com.choa.util.ListInfo">
		select * from 
		(select rownum r, c.* from 
		(select P.*, PM.movie_num from payment P,payment_movie PM  where P.NUM=PM.NUM_P order by num desc) c) 
		where r between #{startRow} and #{lastRow}
	</select>
 </mapper> 