<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="RoomMapper">
  
  	<select id="playtime" resultType="com.choa.room.RoomDTO" parameterType="java.lang.Integer">
		select * from room where num=#{num}
  	</select>
		<!-- select num, play_Time, startTime, lastTime from room where num=#{num} -->
		<!-- select num, play_Time, startTime, lastTime from room where num=#{num} -->
  		<!-- select num, play_Time, to_char(startTime, yyyyMMddHHmmssSSS), to_char(lastTime, yyyyMMddHHmmssSSS) from room where num=#{num} -->
  
  	<update id="playtimeUpdate" parameterType="com.choa.room.RoomDTO">
  		update room set starttime=#{startTime}, lasttime=#{lastTime} where num=#{num}
  	</update>
  	
  	<!-- 전체리스트 -->
  	<select id="roomList" resultType="com.choa.room.RoomDTO" parameterType="com.choa.util.ListInfo">
		select * from
  		(select rownum R, N.* from
  		(select * from room) N)
  		where R between #{startRow} and #{lastRow}
  		
  	</select>
  	
  	<select id="roomcount" resultType="java.lang.Integer" parameterType="com.choa.util.ListInfo" >
  		select nvl(count(num), 0) from room
  	</select>
  </mapper>