<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="WorkMapper"> 
 	<select id="selectList" resultType="com.choa.admin.work.WorkDTO">
		select * from 
		(select rownum r, m.* from 
		(select * from works order by id desc) m)
	</select>
	
	<select id="selectOne" resultType="com.choa.admin.work.WorkDTO" parameterType="com.choa.admin.work.WorkDTO">
		select * from works where id=#{id}
	</select>
	
	<insert id="insert" parameterType="com.choa.admin.work.WorkDTO">
	<!-- 	 insert into works values(work_seq.nextval,#{id},#{name},#{begin},#{end},#{persons},#{progress},#{iconcls},#{offer_id},#{department},#{position})
	 -->
	 insert into works values(work_seq.nextval,#{iconcls},#{name},#{begin},#{end},#{persons},#{progress})
	
	 
	 </insert>
	
	<update id="update" parameterType="com.choa.admin.work.WorkDTO">
		UPDATE works set iconcls=#{iconcls}, name=#{name},begin=#{begin}, end=#{end},persons=#{persons},progress=#{progress} where id=#{id} 
	</update>
	
	<update id="update_pro" parameterType="com.choa.admin.work.WorkDTO">
		UPDATE works set progress=#{progress} where id=#{id} 
	</update>
	
	<delete id="delete" parameterType="com.choa.admin.work.WorkDTO">
		DELETE FROM works WHERE id=#{id}
	</delete>
	
	
	
 </mapper> 