<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.choa.review.ReviewDTO" alias="ReviewDTO"/>
  		<typeAlias type="com.choa.required.RequiredDTO" alias="RequiredDTO"/>
  		<typeAlias type="com.choa.reply.ReplyDTO" alias="ReplyDTO"/>
  		<typeAlias type="com.choa.apply.ApplyDTO" alias="ApplyDTO"/>
  		<typeAlias type="com.choa.matching.MatchingDTO" alias="MatchingDTO"/>
  		<typeAlias type="com.choa.note.NoteDTO" alias="NoteDTO"/>
  		<typeAlias type="com.choa.rent.RentDTO" alias="RentDTO"/>
  		<typeAlias type="com.choa.cart.CartDTO" alias="CartDTO"/>
  		<typeAlias type="com.choa.order_rent.Order_rentDTO" alias="Order_rentDTO"/>  		
  	</typeAliases>
  
  </configuration>